---
layout: default
lang: en
title: "Home Page | Karate Braga"
og_title: "Home Page | Karate Braga"
og_description: "Our club was born in January of 2001. Find more about us, come visit us!"
---

<div class="main">
    <div class="row">
        <div class="leftcolumn">
            <div class="card card--highlight">
                <div class="align_center">
                    <h2>Sensei</h2>
                    <h1>André Bertel</h1>
                    <a href="https://andrebertel.blogspot.com/" target="_blank" rel="noopener" class="button button2">andrebertel.blogspot.com</a>
                    <br>
                    <script src="https://apis.google.com/js/platform.js"></script>
                    <div class="g-ytsubscribe" data-channel="AndreBertel" data-layout="full" data-count="default"></div>
                </div>
            </div>
            <div class="card">
                <div class="align_center">
                    {% include slideshow.html gallery="abertel" %}
                </div>
            </div>
            <div class="card">
                <div class="align_center">
                    {% include videos_abertel.html %}
                </div>
            </div>
        </div>
    </div>
</div>
