---
layout: default
lang: en
title: "Home Page | Karate Braga"
og_title: "Home Page | Karate Braga"
og_description: "Our club was born in January of 2001. Find more about us, come visit us!"
---

<div class="main">
    <div class="row">
        <div class="leftcolumn">
            <div class="card card--highlight">
                <div class="align_center">
                    <h2 class="card__heading">In 2019 our Seminar looked like this</h2>
                    {% include videos_2019.html %}
                </div>
            </div>
            <div class="card">
                <div class="align_center">
                    {% include slideshow.html gallery="seminar_2019" %}
                </div>
            </div>
        </div>
    </div>
</div>
