---
layout: default
lang: en
title: "Home Page | Karate Braga"
og_title: "Home Page | Karate Braga"
og_description: "Our club was born in January of 2001. Find more about us, come visit us!"
nav_active: home
---

<div class="main">
    <div class="row">
        <div class="leftcolumn">
            <div class="card card--highlight" id="Seminário_Confirmado">
                <div class="align_center">
                    <h2>2026 Seminar Confirmed!</h2>
                    <p class="text-primary" style="margin: 0 0 0.5rem; font-weight: 600;">Exceptional Commemorative Price! Karate Braga 25 Years!</p>
                    <h5><i>June 5, 6 and 7, 2026</i> (<a href="{{ site.registration_form_url }}" target="_blank" rel="noopener noreferrer">registration</a>)</h5>
                </div>
                <div class="align_center">
                    {% include poster.html %}
                </div>
                <div class="align_justify">
                    <p>In 2026, Karate Braga proudly celebrates its 25th anniversary! To mark this historic milestone, this international event is part of the celebrations of 25 years of this club's existence.</p>
                    <p>Exceptional price: <span class="text-primary">25 euros</span> (1 day) and <span class="text-primary">35 euros</span> (full seminar). For all participants.</p>
                    <p>For more information about the event, check the <a href="/en/info.html">information page</a>. To register, please use the form available <a href="{{ site.registration_form_url }}" target="_blank" rel="noopener noreferrer">here</a>.</p>
                </div>
                <div class="align_center">
                    <p><b>OSU! 🎂 🤛</b></p>
                </div>
            </div>
            <div class="card card--highlight" id="Aniversário">
                <div class="align_center">
                    <h2>Happy Birthday, Karate Braga!</h2>
                    <h5><i>January 21, 2026</i></h5>
                </div>
                <div class="align_justify">
                    <p>Karate Braga celebrates 25 years of existence today and its founder, Francisco Pinto, 25 years as an instructor. The whole family that has been part of this project over the years is to be congratulated. It is a historic and symbolic milestone for Karate Braga. Here's to many more!</p>
                </div>
                <div class="align_center">
                    <p><b>OSU! 🎂 🤛</b></p>
                </div>
            </div>
        </div>
        {% include home_sidebar.html %}
    </div>
</div>
