.contact-form input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.contact-form input[type=text]:focus {
    border: 3px solid #af4c4c;
}

.contact-form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.contact-form textarea:focus {
    border: 3px solid #af4c4c;
}

.button3 {
    background-color: #af4c4c;
    border-radius: 12px;
    color: white;
}

.button3:hover {
    background-color: rgb(75, 75, 75);
    color: white;
    border: 2px solid rgb(75, 75, 75);
}
