.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 20%;
    padding-left: 5%;
}

.fakeimg {
    background-color: #af4c4c;
    border: 2px solid rgb(75, 75, 75);
    width: 100%;
}

.card {
    background-color: white;
    margin-top: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
