/* especificações da página main*/
.main {
    /*text-align: center; */
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    /* margin so the footer doesn't hide any content */
    margin-bottom: 55px;
}

/* button de inscrição */
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* cor do button1: página principal*/
.button1 {
    background-color: #af4c4c;
    color: white;
    border: 2px solid #af4c4c;
}

/* tratar do hover do button*/
.button1:hover {
    background-color: rgb(75, 75, 75);
    color: white;
    border: 2px solid rgb(75, 75, 75);
}


body {
    /*tipo de letra geral*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*background*/
    background-color: #ffffff;
}

/* alinhar texto */
div.align_center {
    text-align: center;
  }
  
  div.align_left {
    text-align: left;
  }
  
  div.align_right {
    text-align: right;
  } 
  
  div.align_justify {
    text-align: justify;
  } 
