/* especificações da página main*/
.main {
    /*text-align: center; */
    font-size: 18px;
    /* Increased text to enable scrolling
    padding: 0px 10px;*/
    /* margin so the footer doesn't hide any content */
    margin-bottom: 55px;
    margin-left: 10%;
    margin-right: 10%;
}

/* button de inscrição */
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
}

/* cor do button1: página principal*/
.button1 {
    background-color: #af4c4c;
    color: white;
    border: 2px solid #af4c4c;
}

/* tratar do hover do button*/
.button1:hover {
    background-color: rgb(75, 75, 75);
    color: white;
    border: 2px solid rgb(75, 75, 75);
}


body {
    /*tipo de letra geral*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*background*/
    background-color: #ffffff;
}

/* alinhar texto */
div.align_center {
    text-align: center;
  }
  
div.align_left {
    text-align: left;
}
  
div.align_right {
    text-align: right;
} 
  
div.align_justify {
    text-align: justify;
}
/* alinhar elementos */
.center {
    margin-left: auto;
    margin-right: auto;
}

/* tabelas de info */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* hyperlink colors */
/*
a:link {
    color: rgb(255, 100, 100);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: rgb(255, 100, 100);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #555;
  background-color: transparent;
  text-decoration: underline;
}
*/

/* Selecionar Secção */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* button de inscrição */
.newbutton {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    cursor: pointer;
}